<div class="row">
    <div class="col-12">
        <h3 class="text-center py-4"> <strong> List of Employees </strong> </h3>
        <table class="table my-3">
            <thead class="thead-dark" >
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees" >
                    <td> {{ employee.id }} </td>
                    <td> {{ employee.name }} </td>
                    <td> {{ employee.surname }} </td>
                    <td> {{ employee.email }} </td>
                    <td> {{ employee.phone }} </td>
                    <td> <span><i class="fa fa-pencil text-primary mr-4" aria-hidden="true"></i></span> 
                        <span><i class="fa fa-trash-o text-danger mr-4" aria-hidden="true"></i></span>    
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>