<nav class="navbar navbar-expand-lg navbar-light bg-light py-4 ">
    <a class="navbar-brand" href="#"> <strong>Todos</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/" >Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add">Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/edit">Edit</a>
        </li>
      </ul>
    </div>
  </nav>